<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow">
        @Html.ActionLink("RWA MVC Project", "All", "Country", new { area = "" }, new { @class = "navbar-brand col-sm-3 col-md-2 mr-0" })
        @Html.Partial("_LoginPartial")
    </nav>

    <div class="container-fluid">
        <main class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <i class="fa fa-flag"></i>@Html.ActionLink("Drzave", "Drzave", "Aw", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-home"></i>@Html.ActionLink("Gradovi", "Gradovi", "Aw", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-users"></i>@Html.ActionLink("Kupci", "Kupci", "Aw", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>
        </main>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>Copyright &copy; @DateTime.Now.Year - RWA MVC Project</p>
            </footer>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
