@model IEnumerable<Project.Models.Racun>

@{
    ViewBag.Title = "Racuni";
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KupacID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KomercijalistID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Komentar)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojRacuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KupacID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KomercijalistID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Komentar)
        </td>
    </tr>
}

</table>
