@model IEnumerable<Drzava>

@{
    ViewBag.Title = "Country list";
}
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        @foreach (var item in Model) {
            <tr class="text-left">
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.ActionLink("View All Cities", "/", new { id = item.IDDrzava })
                    @if (User.IsInRole("Admin"))
                    {                        
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDDrzava }, new { @class = "px-2" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDDrzava }, new { @class = "px-2" })
                    }
                </td>
            </tr>

            }
    </table>
